<a href="https://colab.research.google.com/github/luanmarcosV/Car_Price_Predict_DNC/blob/main/Exercicio_Regress%C3%A3o_Linear_Valores_de_carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import seaborn as sns

#Leitura dos dados

In [65]:
df = pd.read_csv('carro.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [4]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

#Dumificação dos dados

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le = LabelEncoder()

In [20]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [21]:
#Dumificação dos dados de variáveis categóricas para numéricas

le.fit(df.drivewheel)
df.drivewheel = le.transform(df.drivewheel)

le.fit(df.fuelsystem)
df.fuelsystem = le.transform(df.fuelsystem)

le.fit(df.enginetype)
df.enginetype = le.transform(df.enginetype)

le.fit(df.enginelocation)
df.enginelocation = le.transform(df.enginelocation)

le.fit(df.CarName)
df.CarName = le.transform(df.CarName)

le.fit(df.fueltype)
df.fueltype = le.transform(df.fueltype)

le.fit(df.aspiration)
df.aspiration = le.transform(df.aspiration)

le.fit(df.carbody)
df.carbody = le.transform(df.carbody)

In [9]:
df.describe()

,car_ID,symboling,CarName,fueltype,aspiration,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,77.209756,0.902439,0.180488,2.614634,1.326829,0.014634,98.756585,174.049268,...,126.907317,3.253659,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,41.014583,0.297446,0.385535,0.859081,0.556171,0.120377,6.021776,12.337289,...,41.642693,2.013204,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,86.600000,141.100000,...,61.000000,0.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,44.000000,1.000000,0.000000,2.000000,1.000000,0.000000,94.500000,166.300000,...,97.000000,1.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,80.000000,1.000000,0.000000,3.000000,1.000000,0.000000,97.000000,173.200000,...,120.000000,5.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,115.000000,1.000000,0.000000,3.000000,2.000000,0.000000,102.400000,183.100000,...,141.000000,5.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,146.000000,1.000000,1.000000,4.000000,2.000000,1.000000,120.900000,208.100000,...,326.000000,7.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [10]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,1,0,two,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,3,1,0,two,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,1,1,0,two,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,4,1,0,four,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,5,1,0,four,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

#Alteração manual de valores de dados

A alteração manual se faz importante para identificar mais facilmente as informações

In [22]:
#alteração manual da quantidade de portas para ficar mais entendível o dado:

df['doornumber'] = df['doornumber'].replace(['two'], '2')
df['doornumber'] = df['doornumber'].replace(['four'], '4')

In [25]:
df1 = df.drop(columns= ['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber'])
df1.head()

,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,0,2,0,88.6,168.8,64.1,48.8,2548,0,four,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,0,2,0,88.6,168.8,64.1,48.8,2548,0,four,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,2,2,0,94.5,171.2,65.5,52.4,2823,5,six,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,3,1,0,99.8,176.6,66.2,54.3,2337,3,four,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,3,0,0,99.4,176.6,66.4,54.3,2824,3,five,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [26]:
df['cylindernumber'].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64

In [27]:
#alteração manual da quantidade de cilindros para melhor identificação da informação

df['cylindernumber'] = df['cylindernumber'].replace(['two'], '2')
df['cylindernumber'] = df['cylindernumber'].replace(['three'], '3')
df['cylindernumber'] = df['cylindernumber'].replace(['four'], '4')
df['cylindernumber'] = df['cylindernumber'].replace(['five'], '5')
df['cylindernumber'] = df['cylindernumber'].replace(['six'], '6')
df['cylindernumber'] = df['cylindernumber'].replace(['eight'], '8')
df['cylindernumber'] = df['cylindernumber'].replace(['twelve'], '12')

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
scaler = MinMaxScaler()

#Normalização do dataframe

In [31]:
#normalização do dataframe
df_norm = pd.DataFrame(scaler.fit_transform(df), index = df.index, columns = df.columns)
df_norm.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,0.000000,1.0,0.013699,1.0,0.0,0.0,0.00,1.0,0.0,0.058309,...,0.260377,0.714286,0.664286,0.290476,0.1250,0.262500,0.346939,0.222222,0.289474,0.207959
1,0.004902,1.0,0.020548,1.0,0.0,0.0,0.00,1.0,0.0,0.058309,...,0.260377,0.714286,0.664286,0.290476,0.1250,0.262500,0.346939,0.222222,0.289474,0.282558
2,0.009804,0.6,0.006849,1.0,0.0,0.0,0.50,1.0,0.0,0.230321,...,0.343396,0.714286,0.100000,0.666667,0.1250,0.441667,0.346939,0.166667,0.263158,0.282558
3,0.014706,0.8,0.027397,1.0,0.0,1.0,0.75,0.5,0.0,0.384840,...,0.181132,0.714286,0.464286,0.633333,0.1875,0.225000,0.551020,0.305556,0.368421,0.219254
4,0.019608,0.8,0.034247,1.0,0.0,1.0,0.75,0.0,0.0,0.373178,...,0.283019,0.714286,0.464286,0.633333,0.0625,0.279167,0.551020,0.138889,0.157895,0.306142

In [33]:
df_norm.describe()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.500000,0.566829,0.528834,0.902439,0.180488,0.560976,0.653659,0.663415,0.014634,0.354419,...,0.248707,0.464808,0.564111,0.564483,0.196409,0.233821,0.398009,0.339431,0.388190,0.202540
std,0.290797,0.249061,0.280922,0.297446,0.385535,0.497483,0.214770,0.278085,0.120377,0.175562,...,0.157142,0.287601,0.193460,0.149332,0.248253,0.164767,0.194688,0.181726,0.181222,0.198323
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.250000,0.400000,0.301370,1.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.230321,...,0.135849,0.142857,0.435714,0.495238,0.100000,0.091667,0.265306,0.166667,0.236842,0.066283
50%,0.500000,0.600000,0.547945,1.000000,0.000000,1.000000,0.750000,0.500000,0.000000,0.303207,...,0.222642,0.714286,0.550000,0.580952,0.125000,0.195833,0.428571,0.305556,0.368421,0.128519
75%,0.750000,0.800000,0.787671,1.000000,0.000000,1.000000,0.750000,1.000000,0.000000,0.460641,...,0.301887,0.714286,0.742857,0.638095,0.150000,0.283333,0.551020,0.472222,0.473684,0.282632
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Verificando a correlação dos dados depois de normalizados

In [41]:
df.corr()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,1.000000,-0.151621,0.129729,0.170636,0.052387,0.255960,0.071962,-0.033930,0.260064,-0.160824,0.150276,-0.015006,-0.203789,0.015940,0.011255,-0.109093
symboling,-0.151621,1.000000,-0.531954,-0.357612,-0.232919,-0.541038,-0.227691,-0.105790,-0.130051,-0.008735,-0.178515,0.070873,0.273606,-0.035823,0.034606,-0.079978
wheelbase,0.129729,-0.531954,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.488750,0.160959,0.249786,0.353294,-0.360469,-0.470414,-0.544082,0.577816
carlength,0.170636,-0.357612,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.606454,0.129533,0.158414,0.552623,-0.287242,-0.670909,-0.704662,0.682920
carwidth,0.052387,-0.232919,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.559150,0.182942,0.181129,0.640732,-0.220012,-0.642704,-0.677218,0.759325
carheight,0.255960,-0.541038,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,0.171071,-0.055307,0.261214,-0.108802,-0.320411,-0.048640,-0.107358,0.119336
curbweight,0.071962,-0.227691,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.648480,0.168790,0.151362,0.750739,-0.266243,-0.757414,-0.797465,0.835305
enginesize,-0.033930,-0.105790,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.583774,0.203129,0.028971,0.809769,-0.244660,-0.653658,-0.677470,0.874145
boreratio,0.260064,-0.130051,0.488750,0.606454,0.559150,0.171071,0.648480,0.583774,1.000000,-0.055909,0.005197,0.573677,-0.254976,-0.584532,-0.587012,0.553173
stroke,-0.160824,-0.008735,0.160959,0.129533,0.182942,-0.055307,0.168790,0.203129,-0.055909,1.000000,0.186110,0.080940,-0.067964,-0.042145,-0.043931,0.079443
compressionratio,0.150276,-0.178515,0.249786,0.158414,0.181129,0.261214,0.151362,0.028971,0.005197,0.186110,1.000000,-0.204326,-0.435741,0.324701,0.265201,0.067984
horsepower,-0.015006,0.070873,0.353294,0.552623,0.640732,-0.108802,0.750739,0.809769,0.573677,0.080940,-0.204326,1.000000,0.131073,-0.801456,-0.770544,0.808139
peakrpm,-0.203789,0.273606,-0.360469,-0.287242,-0.220012,-0.320411,-0.266243,-0.244660,-0.254976,-0.067964,-0.435741,0.131073,1.000000,-0.113544,-0.054275,-0.085267
citympg,0.015940,-0.035823,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,-0.584532,-0.042145,0.324701,-0.801456,-0.113544,1.000000,0.971337,-0.685751
highwaympg,0.011255,0.034606,-0.544082,-0.704662,-0.677218,-0.107358,-0.797465,-0.677470,-0.587012,-0.043931,0.265201,-0.770544,-0.054275,0.971337,1.000000,-0.697599
price,-0.109093,-0.079978,0.577816,0.682920,0.759325,0.119336,0.835305,0.874145,0.553173,0.079443,0.067984,0.808139,-0.085267,-0.685751,-0.697599,1.000000

#OLS Regression e Ajustes

In [44]:
import statsmodels.formula.api as smf

Leitura de todas as colunas para entender quais são ruins para o modelo

In [49]:
function = 'price~car_ID+symboling+CarName+fueltype+aspiration+doornumber+carbody+drivewheel+enginelocation+wheelbase+carlength+carwidth+carheight+curbweight+enginetype+cylindernumber+enginesize+fuelsystem+boreratio+stroke+compressionratio+horsepower+peakrpm+citympg+highwaympg'

model = smf.ols(formula = function, data = df_norm).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.900
Model:                            OLS   Adj. R-squared:                  0.886
Method:                 Least Squares   F-statistic:                     64.50
Date:                Sun, 20 Nov 2022   Prob (F-statistic):           3.90e-76
Time:                        00:15:28   Log-Likelihood:                 277.38
No. Observations:                 205   AIC:                            -502.8
Df Residuals:                     179   BIC:                            -416.4
Df Model:                          25
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.1108      0.189     -0.587      0.558      -0.484       0.262
car_ID               0.1118      0.080      1.391      0.166      -0.047       0.270
symboling            0.0048      0.032      0.148      0.882      -0.059       0.069
CarName             -0.2278      0.083     -2.758      0.006      -0.391      -0.065
fueltype             0.0684      0.161      0.424      0.672      -0.250       0.387
aspiration           0.0110      0.022      0.497      0.620      -0.033       0.054
doornumber           0.0206      0.016      1.292      0.198      -0.011       0.052
carbody             -0.0701      0.037     -1.873      0.063      -0.144       0.004
drivewheel           0.0456      0.027      1.703      0.090      -0.007       0.098
enginelocation       0.2702      0.052      5.230      0.000       0.168       0.372
wheelbase            0.0940      0.087      1.076      0.283      -0.078       0.266
carlength           -0.0577      0.089     -0.645      0.520      -0.234       0.119
carwidth             0.1745      0.073      2.389      0.018       0.030       0.319
carheight            0.0712      0.039      1.827      0.069      -0.006       0.148
curbweight           0.1671      0.102      1.644      0.102      -0.033       0.368
enginetype           0.0226      0.032      0.717      0.475      -0.040       0.085
cylindernumber      -0.2143      0.163     -1.318      0.189      -0.535       0.106
enginesize           0.6854      0.168      4.068      0.000       0.353       1.018
fuelsystem           0.0047      0.027      0.178      0.859      -0.048       0.057
boreratio           -0.0821      0.052     -1.567      0.119      -0.185       0.021
stroke              -0.1650      0.046     -3.592      0.000      -0.256      -0.074
compressionratio     0.1275      0.185      0.689      0.492      -0.238       0.493
horsepower           0.2208      0.108      2.045      0.042       0.008       0.434
peakrpm              0.0822      0.040      2.080      0.039       0.004       0.160
citympg             -0.0917      0.148     -0.619      0.537      -0.384       0.201
highwaympg           0.1260      0.138      0.913      0.363      -0.146       0.398
==============================================================================
Omnibus:                       45.136   Durbin-Watson:                   0.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              210.222
Skew:                           0.730   Prob(JB):                     2.24e-46
Kurtosis:                       7.741   Cond. No.                         169.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Remoção direta das colunas com P>|t| maior que 0.60

In [51]:
function = 'price~car_ID+CarName+doornumber+carbody+drivewheel+enginelocation+wheelbase+carlength+carwidth+carheight+curbweight+enginetype+cylindernumber+enginesize+boreratio+stroke+compressionratio+horsepower+peakrpm+citympg+highwaympg-1'

model = smf.ols(formula = function, data = df_norm).fit()

print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.951
Model:                            OLS   Adj. R-squared (uncentered):              0.946
Method:                 Least Squares   F-statistic:                              170.4
Date:                Sun, 20 Nov 2022   Prob (F-statistic):                   1.11e-108
Time:                        00:22:08   Log-Likelihood:                          277.12
No. Observations:                 205   AIC:                                     -512.2
Df Residuals:                     184   BIC:                                     -442.5
Df Model:                          21
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
car_ID               0.1196      0.077      1.554      0.122      -0.032       0.271
CarName             -0.2331      0.080     -2.921      0.004      -0.391      -0.076
doornumber           0.0201      0.014      1.423      0.156      -0.008       0.048
carbody             -0.0698      0.037     -1.910      0.058      -0.142       0.002
drivewheel           0.0438      0.025      1.763      0.080      -0.005       0.093
enginelocation       0.2682      0.051      5.290      0.000       0.168       0.368
wheelbase            0.0916      0.080      1.151      0.251      -0.065       0.249
carlength           -0.0615      0.080     -0.765      0.445      -0.220       0.097
carwidth             0.1791      0.070      2.545      0.012       0.040       0.318
carheight            0.0669      0.038      1.768      0.079      -0.008       0.141
curbweight           0.1542      0.092      1.685      0.094      -0.026       0.335
enginetype           0.0173      0.027      0.633      0.527      -0.037       0.071
cylindernumber      -0.2417      0.129     -1.868      0.063      -0.497       0.014
enginesize           0.6922      0.135      5.142      0.000       0.427       0.958
boreratio           -0.0931      0.043     -2.143      0.033      -0.179      -0.007
stroke              -0.1750      0.036     -4.802      0.000      -0.247      -0.103
compressionratio     0.0578      0.028      2.082      0.039       0.003       0.113
horsepower           0.2479      0.089      2.789      0.006       0.073       0.423
peakrpm              0.0782      0.034      2.287      0.023       0.011       0.146
citympg             -0.0870      0.135     -0.644      0.521      -0.354       0.180
highwaympg           0.1075      0.128      0.840      0.402      -0.145       0.360
==============================================================================
Omnibus:                       42.891   Durbin-Watson:                   0.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              186.214
Skew:                           0.708   Prob(JB):                     3.67e-41
Kurtosis:                       7.449   Cond. No.                         85.7
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Remoção das colunas com P>|t| maior que 0.1

In [53]:
function = 'price~CarName+carbody+drivewheel+enginelocation+carwidth+carheight+curbweight+cylindernumber+enginesize+boreratio+stroke+compressionratio+horsepower+peakrpm-1'

model = smf.ols(formula = function, data = df_norm).fit()

print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.949
Model:                            OLS   Adj. R-squared (uncentered):              0.946
Method:                 Least Squares   F-statistic:                              255.5
Date:                Sun, 20 Nov 2022   Prob (F-statistic):                   2.01e-115
Time:                        00:24:12   Log-Likelihood:                          273.45
No. Observations:                 205   AIC:                                     -518.9
Df Residuals:                     191   BIC:                                     -472.4
Df Model:                          14
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
CarName             -0.1120      0.018     -6.068      0.000      -0.148      -0.076
carbody             -0.0442      0.029     -1.520      0.130      -0.102       0.013
drivewheel           0.0493      0.022      2.247      0.026       0.006       0.093
enginelocation       0.2749      0.049      5.633      0.000       0.179       0.371
carwidth             0.2303      0.055      4.185      0.000       0.122       0.339
carheight            0.0861      0.033      2.603      0.010       0.021       0.151
curbweight           0.1242      0.079      1.566      0.119      -0.032       0.281
cylindernumber      -0.2527      0.100     -2.516      0.013      -0.451      -0.055
enginesize           0.7340      0.123      5.978      0.000       0.492       0.976
boreratio           -0.0980      0.037     -2.665      0.008      -0.171      -0.025
stroke              -0.1799      0.029     -6.122      0.000      -0.238      -0.122
compressionratio     0.0595      0.025      2.402      0.017       0.011       0.108
horsepower           0.2103      0.074      2.825      0.005       0.063       0.357
peakrpm              0.0655      0.033      1.974      0.050    5.86e-05       0.131
==============================================================================
Omnibus:                       30.330   Durbin-Watson:                   0.915
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               96.864
Skew:                           0.545   Prob(JB):                     9.25e-22
Kurtosis:                       6.187   Cond. No.                         58.8
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [57]:
function = 'price~CarName+drivewheel+enginelocation+carwidth+carheight+cylindernumber+enginesize+boreratio+stroke+compressionratio+horsepower-1'

model = smf.ols(formula = function, data = df_norm).fit()

print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.948
Model:                            OLS   Adj. R-squared (uncentered):              0.945
Method:                 Least Squares   F-statistic:                              318.5
Date:                Sun, 20 Nov 2022   Prob (F-statistic):                   9.97e-118
Time:                        00:25:04   Log-Likelihood:                          269.93
No. Observations:                 205   AIC:                                     -517.9
Df Residuals:                     194   BIC:                                     -481.3
Df Model:                          11
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
CarName             -0.1144      0.019     -6.170      0.000      -0.151      -0.078
drivewheel           0.0693      0.021      3.353      0.001       0.029       0.110
enginelocation       0.2936      0.046      6.452      0.000       0.204       0.383
carwidth             0.2797      0.048      5.795      0.000       0.185       0.375
carheight            0.0829      0.027      3.111      0.002       0.030       0.136
cylindernumber      -0.2805      0.077     -3.660      0.000      -0.432      -0.129
enginesize           0.7388      0.078      9.497      0.000       0.585       0.892
boreratio           -0.1100      0.036     -3.092      0.002      -0.180      -0.040
stroke              -0.1680      0.024     -6.927      0.000      -0.216      -0.120
compressionratio     0.0510      0.023      2.247      0.026       0.006       0.096
horsepower           0.3030      0.063      4.780      0.000       0.178       0.428
==============================================================================
Omnibus:                       30.097   Durbin-Watson:                   0.988
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               84.949
Skew:                           0.586   Prob(JB):                     3.58e-19
Kurtosis:                       5.928   Cond. No.                         31.6
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#Criação das variáveis de teste e treino

Educando o modelo

In [58]:
x = df_norm[['CarName', 'drivewheel', 'enginelocation', 'carwidth', 'carheight','cylindernumber','enginesize','boreratio','stroke','compressionratio','horsepower']]

y = df_norm[['price']]

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

lr = LinearRegression()

lr.fit(x,y)

LinearRegression()

In [61]:
r_sqr = lr.score(x, y)
r_sqr

0.8926240652382696

In [62]:
y_pred_treino = lr.predict(x_train)
print('MAE:', metrics.mean_absolute_error(y_train, y_pred_treino))
print('MSE:', metrics.mean_squared_error(y_train, y_pred_treino))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_treino)))

MAE: 0.04948328161007947
MSE: 0.003922084626102761
RMSE: 0.06262654889184587

In [64]:
y_pred_test = lr.predict(x_test)
print('MAE:', metrics.mean_absolute_error(y_test, y_pred_test))
print('MSE:', metrics.mean_squared_error(y_test, y_pred_test))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test)))

MAE: 0.04701711569383416
MSE: 0.005325239441670565
RMSE: 0.07297423820548293