<a href="https://colab.research.google.com/github/luanmarcosV/Car_Price_Predict_DNC/blob/main/Rede_Neural%20-%20Tratativa%20de%20Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_excel('/content/churn.xlsx')
df.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer,42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7042 entries, 0 to 7041
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7042 non-null   object
 1   tenure            7042 non-null   int64
 2   PhoneService      7042 non-null   object
 3   Contract          7042 non-null   object
 4   PaperlessBilling  7042 non-null   object
 5   PaymentMethod     7042 non-null   object
 6   MonthlyCharges    7042 non-null   float64
 7   TotalCharges      7042 non-null   object
 8   Churn             7042 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 495.3+ KB

In [5]:
#Transformando em dados numéricos

from sklearn import preprocessing

lb = preprocessing.LabelEncoder()

df['PhoneService'] = lb.fit_transform(df['PhoneService'])
df['Contract'] = lb.fit_transform(df['Contract'])
df['PaperlessBilling'] = lb.fit_transform(df['PaperlessBilling'])
df['PaymentMethod'] = lb.fit_transform(df['PaymentMethod'])

In [14]:
#Alterando o tipo de dado da coluna TotalCharges

df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7042 entries, 0 to 7041
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7042 non-null   object
 1   tenure            7042 non-null   int64
 2   PhoneService      7042 non-null   int64
 3   Contract          7042 non-null   int64
 4   PaperlessBilling  7042 non-null   int64
 5   PaymentMethod     7042 non-null   int64
 6   MonthlyCharges    7042 non-null   float64
 7   TotalCharges      7031 non-null   float64
 8   Churn             7042 non-null   int64
dtypes: float64(2), int64(6), object(1)
memory usage: 495.3+ KB

In [23]:
df = df.dropna()

In [24]:
df.corr()

,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
tenure,1.000000,0.007815,0.676637,0.004663,-0.369907,0.246663,0.825837,-0.353989
PhoneService,0.007815,1.000000,0.002946,0.016658,-0.005431,0.248004,0.112948,0.011720
Contract,0.676637,0.002946,1.000000,-0.175700,-0.229382,-0.073065,0.450064,-0.396095
PaperlessBilling,0.004663,0.016658,-0.175700,1.000000,-0.061187,0.351834,0.157646,0.191540
PaymentMethod,-0.369907,-0.005431,-0.229382,-0.061187,1.000000,-0.192270,-0.330319,0.107745
MonthlyCharges,0.246663,0.248004,-0.073065,0.351834,-0.192270,1.000000,0.650949,0.193005
TotalCharges,0.825837,0.112948,0.450064,0.157646,-0.330319,0.650949,1.000000,-0.199374
Churn,-0.353989,0.011720,-0.396095,0.191540,0.107745,0.193005,-0.199374,1.000000

In [26]:
X = df.drop(columns=['customerID', 'Churn'])
Y = df["Churn"]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [28]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Transformanda para dataframe para visualização
X_train = pd.DataFrame(X_train_scaled,columns = X_train.columns)
X_test = pd.DataFrame(X_test_scaled,columns = X_test.columns)

In [29]:
clf = MLPClassifier( hidden_layer_sizes=(100, 50, 20),activation='logistic')
clf.fit(X_train,y_train)

MLPClassifier(activation='logistic', hidden_layer_sizes=(100, 50, 20))

In [30]:
y_pred = clf.predict(X_test)
print(f"Acurácia: {accuracy_score(y_test, y_pred)*100}%")

Acurácia: 79.53091684434968%